[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==8.0.0"
asgiref = "==3.2.10"
autopep8 = "==1.5.4"
beautifulsoup4 = "==4.9.3"
bs4 = "==0.0.1"
certifi = "==2020.6.20"
chardet = "==3.0.4"
click = "==7.1.2"
dj-database-url = "==0.5.0"
djangorestframework = "==3.11.1"
idna = "==2.10"
importlib-metadata = "==3.4.0"
itsdangerous = "==1.1.0"
jdcal = "==1.4.1"
mdown = "==2020.12.3"
mkdir = "==2020.12.3"
numpy = "==1.20.0"
openpyxl = "==3.0.6"
orderdict = "==2020.12.3"
pandas = "==1.1.5"
public = "==2020.12.3"
pycodestyle = "==2.6.0"
python-dateutil = "==2.8.1"
python-decouple = "==3.4"
pytz = "==2020.1"
readme-md = "==2019.1.28"
requests = "==2.24.0"
setupcfg = "==2020.12.3"
six = "==1.15.0"
soupsieve = "==2.1"
sqlparse = "==0.3.1"
toml = "==0.10.2"
typing-extensions = "==3.7.4.3"
urllib3 = "==1.25.10"
values = "==2020.12.3"
whitenoise = "==5.2.0"
write = "==2020.12.3"
zipp = "==3.4.0"
Django = "==3.1"
et_xmlfile = "==1.0.1"
Jinja2 = "==2.11.2"
Markdown = "==3.3.3"
MarkupSafe = "==1.1.1"
Unipath = "==1.1"
Werkzeug = "==1.0.1"
django-storages = "*"
boto3 = "*"
pdf2image = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.7.0"
