option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "email_scraper.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "email_scraper.wsgi:application"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/"
    MatcherHTTPCode: "200-499"

